
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {

    width: 30px;
    height: 30px;
}

.searchArea {
    width: 100%;
    display: flex;
    gap: 8px;
}

.searchArea button {
    font-size: 35px;
    width: 16%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;
}