
.ball {
    content: "";
    
    background-color: gray;

    width: 15px;
    height: 15px;
    
    display: inline-block;

    border-radius: 50%;
}

.ball[data-active="active"] {
    background-color: green;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.tabs_link {
    color: var(--color-primary);
    text-align: center;

    padding: var(--pad-sm);
    border-bottom: 1px solid var(--color-primary);
}

.tabs_selected {
    background-color: var(--color-primary);
    color: var(--color-secondary-100);
}

.actions {
    max-width: 90%;
    display: flex;
    gap: 4px;   
    margin: 4px auto;
}