.button {
    color: var(--color-primary);
    background-color: transparent;

    width: 100%;

    padding: 16px 8px;

    border: none;
    border-radius: var(--radius-md);
}

.button[data-fill="border"] {
    border: 2px solid var(--color-primary);
}

.button[data-fill="default"] {
    background-color: var(--color-primary);
    color: var(--color-secondary-100);
}

.button[data-uppercase = "true"] {
    text-transform: uppercase;
}