.popupWrap {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    position: relative;
    width: 80%;

    background-color: var(--color-secondary-100);
    color: var(--color-primary);

    border-radius: var(--radius-sm);
}

.closePopup {
    background-color: var(--color-primary);
    color: var(--color-secondary-100);
    
    border-radius: 50%; 
    
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);

    cursor: pointer;
}